.forceRefresher {
  font-size: 15px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

.forceRefresher:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}