@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : IE9 전용 스타일
=============================================== */


.admin-placeholder {display:inline-block;position:absolute;left:10px;top:7px;color:#666;}

.login-wrapper .login-form .form-area ul li .admin-placeholder {font-size:20px;color:#a7abad;left:20px;top:25px;}

.form-control {border-radius:0;}
.styled-select:after {width:20px;height:23px;right:1px;top:1px;}

table.list-table {border-collapse: separate;}