@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : 레이아웃/컴포넌트/그리드/위젯
=============================================== */


/* layout */
.wrapper {width:100%;height:100%;}
.main-bg span {display:inline-block;position:absolute;width:50%;z-index:0;}
.main-bg .lt {height:40px;background:#a8cee5;left:0;top:0;}
.main-bg .lb {height:80px;background:#0c99c9;left:0;top:40px;}
.main-bg .rt {height:40px;background:#dadada;right:0;top:0;}
.main-bg .rb {height:80px;background:#b3b3b4;right:0;top:40px;}
.main-header {position:relative;z-index:10;}
.main-header-inner {width:1180px;height:120px;margin:0 auto;}
.content-wrapper {width:1200px;margin:0 auto;padding:80px 0 40px 0;}
.content-inner {position:relative;min-height: 250px;margin-right: auto;margin-left: auto;padding-left: 10px;padding-right: 10px;}


/* logo area */
.logo-area {width:280px;float:left;position:relative;z-index:1;}
.logo-area .logo-wrap {height:40px;line-height:38px;background:#a8cee5;}
.logo-area .logo-wrap2 {height:80px;line-height:75px;background:#0c99c9;}


/* navigation */
.gnb-area .top-menu {height:40px;background:#dadada;}
.gnb-area .top-menu > ul {float:right;margin-top:14px;}
.gnb-area .top-menu .dropdown {float:left;background:url(../images/bg_bar.gif) left 2px no-repeat;padding-left:15px;margin-left:14px;}
.gnb-area .top-menu .dropdown:first-child {background:none;}
.gnb-area .top-menu .dropdown.basic-menu .dropdown-toggle {font-size:13px;background:url(../images/arrow1.png) right 6px no-repeat;padding-right:10px;}
.gnb-area .top-menu .dropdown.basic-menu .dropdown-menu {min-width:120px;border:1px solid #0c99c9;border-radius:5px;background:#fff;padding:0 20px;padding:0;left:auto;right:0;}
.gnb-area .top-menu .dropdown.basic-menu .dropdown-menu > li > a {padding:5px 10px;font-size:13px;}
.gnb-area .top-menu .dropdown.basic-menu .dropdown-menu > li > a:hover {border-radius:5px;}

.gnb-area .gnb {height:80px;background:#b3b3b4;padding-left:280px;}
.gnb-area .gnb .dep1 {position:relative;}
.gnb-area .gnb .dep1 > li {float:left;padding:20px 17px 0 18px;height:50px;background:url(../images/bg_bar.gif) left 24px no-repeat;}
.gnb-area .gnb .dep1 > li:first-child {background-image:none;}
.gnb-area .gnb .dep1 > li > a {font-size:16px;}
.gnb-area .gnb .dep1 > li:hover > a,
.gnb-area .gnb .dep1 > li.active > a {color:#fff;}
.gnb-area .gnb .dep1 > li:hover .dep2,
.gnb-area .gnb .dep1 > li.active .dep2 {display:block;}

.gnb-area .gnb .dep2 {display:none;position:absolute;top:50px;margin-left:-15px;}
.gnb-area .gnb .dep2 > li {float:left;padding:0 11px 0 15px;height:30px;background:url(../images/bg_dot.png) left 5px no-repeat;font-size:13px;}
.gnb-area .gnb .dep2 > li:first-child {background-image:none;}
.gnb-area .gnb .dep2 > li:hover > a,
.gnb-area .gnb .dep2 > li.active > a {color:#fff;}



/* [bootstrap] grid system customizing : col-md-* 클래스만 사용 : 반응형 적용 안함 */
.row {margin-left: -10px;margin-right: -10px;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-left: 10px;padding-right: 10px;height:100%;}
.row + .row {margin-top:70px;} /* 기본 row 간격 */
.row .row + .row {margin-top:54px;} /* 그리드 안에서 row가 상하로 나눠질 때 간격 */
.col-pd-r {padding-right:20px;}
.col-pd-l {padding-left:20px;}
.select-btn-area {position:absolute;left:50%;top:50%;margin:-38px 0 0 -12px;}


/* ===============================================
 * 사용자등록/로그인/회원가입 등.
 * ============================================= */

/* input 3개(기본) */
.login-wrapper {position:absolute;width:100%;left:0;top:50%;margin-top:-185px;}
.login-wrapper .login-notice {width:100%;height:35px;position:absolute;left:0;top:-35px;text-align:center;}
.login-wrapper .login-notice span {font-size:14px;color:#c90c0c;padding:4px 0 0 30px;height:22px;background:url(../images/ico_attention.png) left top no-repeat;}
.login-wrapper .login-form {border-top:1px solid #6dc2df;background:#0c99c9;height:310px;}
.login-wrapper .login-form.fail {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.login-wrapper .login-form h1 {font-size:23px;font-family:"notokr-bold";text-align:center;height:120px;padding-top:65px;color:#fff;}
.login-wrapper .login-form .form-area {position:relative;width:550px;margin:0 auto;}
.login-wrapper .login-form .form-area ul {position:relative;z-index:1;width:100%;border-radius:10px;background:#64c1e0;padding:8px 3px;box-shadow: 1px 1px 5px rgba(0,0,0,0.2), -1px -1px 5px rgba(0,0,0,0.2);}
.login-wrapper .login-form .form-area ul li {float:left;padding:0 5px;width:50%;}
.login-wrapper .login-form .form-area ul li input {border:none;border-radius:6px;font-size:20px;padding:0 20px;width:100%;height:65px;line-height:65px;background:#fff;box-shadow:inset 0 3px 5px rgba(0,0,0,0.2);}
.login-wrapper .login-form .form-area .btn-submit-go {border:none;width:54px;height:54px;text-align:center;line-height:54px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;background:#66cc33;position:absolute;right:-54px;top:12px;z-index:0;font-size:18px;font-family:"notokr-bold";color:#fff;}
.login-wrapper .login-form .form-link {width:550px;margin:0 auto;padding:10px 8px 0 10px;}
.login-wrapper .login-form .form-link a {font-size:14px;color:#acd4e8;height:20px;border-bottom:1px solid #66badb;float:right;}
.login-wrapper .login-form .form-link a:first-child {float:left;}
.login-wrapper .login-bottom {border-top:1px solid #b7bfc2;background:#b1b4b6;height:60px;}

/* input 1개 */
.login-wrapper .login-form.input-1 .form-area ul li {width:100%;}

/* input 4개 */
.login-wrapper .login-form.input-4 .form-area,
.login-wrapper .login-form.input-4 .form-link {width:900px;}
.login-wrapper .login-form.input-4 .form-area ul li {width:25%;}



/* 문서 공통 */
.grid-wrap {border:1px solid #e5e5e5;}
.grid-header {position: relative;height:35px;border-bottom:2px solid #0c99c9;}
.grid-header .pos-right {position: absolute;right:10px;top:8px;}
.grid-title {display:inline-block;font-size:16px;color:#000;padding:8px 0 0 12px;}
.grid-body {height:725px;overflow-y:auto;}
.grid-input {padding:6px 35px 0 12px;}
.grid-input .form-control {font-size:16px;color:#000;border:none;height:auto;line-height:1;padding:0;}
.grid-input .form-control:-ms-input-placeholder {color: #a7abad;}
.grid-wrap.accordion {height:762px;}
.grid-wrap.visible .grid-body {overflow-y:visible;}
.panel-collapse {word-break:break-all;word-wrap:break-word;white-space:normal;}


/* 그리드 레이아웃 샘플 */
.thum-grid-layout:hover,
.thum-grid-layout.active {outline:4px solid #b2e9fc;}
.thum-grid-layout {display:block;padding:3px;border:1px solid #e5e5e5;width:100%;height:140px;margin:0 auto;}
.thum-grid-layout .thum-grid-inner {position:relative;padding-top:23px;height:100%;}
.thum-grid-layout .thum-grid-header {border:2px solid #0c99c9;position:absolute;left:0;top:0;width:100%;height:20px;}
.thum-grid-layout table {border-collapse:separate;border:2px solid #0c99c9;width:100%;height:100%;}
.thum-grid-layout table td {border-left:2px solid #addded;border-top:2px solid #addded;}
.thum-grid-layout table tr:first-child td {border-top:none;}
.thum-grid-layout table td:first-child {border-left:none;}
.thum-grid-layout table td.col-1 {width:8.33333333%;}
.thum-grid-layout table td.col-2 {width:16.66666667%;}
.thum-grid-layout table td.col-3 {width:25%;}
.thum-grid-layout table td.col-4 {width:33.33333333%;}
.thum-grid-layout table td.col-5 {width:41.66666667%;}
.thum-grid-layout table td.col-6 {width:50%;}
.thum-grid-layout table td.col-7 {width:58.33333333%;}
.thum-grid-layout table td.col-8 {width:66.66666667%;}
.thum-grid-layout table td.col-9 {width:75%;}
.thum-grid-layout table td.col-10 {width:83.33333333%;}
.thum-grid-layout table td.col-11 {width:91.66666667%;}
.thum-grid-layout table td.col-12 {width:100%;}

/* 프로젝트 테마 */
.project-theme-wrap {padding:35px 50px 0 50px;}
.project-theme-wrap:first-child {padding-top:15px;}
.project-theme-wrap h3 {font-size:14px;color:#000;text-align:center;height:25px;}
.project-theme-wrap a {display:block;border:1px solid #e5e5e5;}
.project-theme-wrap a:hover,
.project-theme-wrap a.active {outline:4px solid #b2e9fc;}

/* 페이지 기본속성 */
.page-basic-info {padding:10px 15px;}
.page-basic-info dl dt {float:left;font-size:13px;text-align:right;width:60px;padding-top:8px;}
.page-basic-info dl dd {padding:3px 0 3px 70px;}

/* 페이지 레이아웃 목록 */
.page-layout-list:after {content:" ";display:block;clear:both;}
.page-layout-list {padding:10px;height:690px;overflow-y:auto;}
.page-layout-list li {float:left;width:50%;padding:3px;}

/* 위젯 레이아웃 목록 */
.widget-layout-list:after {content:" ";display:block;clear:both;}
.widget-layout-list {padding:10px;height:655px;overflow-y:auto;}
.widget-layout-list li {float:left;width:50%;padding:2px;}


/* 프로젝트 생성 리스트 */
.project-list-wrap {padding:15px;}
.project-list:after {content:" ";display:block;clear:both;}
.project-list {padding:15px 0;}
.project-list .thumbnail-area {float:left;width:160px;height:190px;line-height:186px;border:1px solid #d9d9d9;overflow:hidden;}
.project-list .thumbnail-area label.input-file-label {width:100%;height:100%;background:#d9d9d9 url(../images/ico_plus_big.png) center center no-repeat;}
.project-list .thumbnail-area label.input-file-label .img-area {width:100%;height:100%;}
.project-list .info-area {padding:35px 60px 0 160px;}
.project-list .info-area dl {padding:5px 0;}
.project-list .info-area dt {font-size:13px;color:#000;text-align:right;float:left;width:80px;padding-top:6px;} 
.project-list .info-area dd {padding-left:100px;}


/* 위젯 배치 */
.widget-setting-wrap .thum-header {height:90px;text-align:center;font-size:13px;}
.widget-setting-wrap .thum-header .thum-logo-area {width:220px;float:left;}
.widget-setting-wrap .thum-header .thum-logo-area .thum-logo {height:30px;background:#a8cee5;padding-top:5px;}
.widget-setting-wrap .thum-header .thum-logo-area .thum-logo2 {height:60px;background:#064c65;}
.widget-setting-wrap .thum-header .thum-gnb-area {padding-left:220px;}
.widget-setting-wrap .thum-header .thum-gnb-area .thum-top {height:30px;background:#6d6d6d;line-height:28px;color:#fff;}
.widget-setting-wrap .thum-header .thum-gnb-area .thum-gnb {height:60px;background:#59595a;line-height:58px;color:#fff;}
.widget-setting-wrap .thum-grid-wrap {padding:30px 15px 0 15px;}
.widget-setting-wrap .thum-grid-wrap .row + .row {margin-top:10px;}
.widget-setting-wrap .thum-grid-wrap .col-md-1,
.widget-setting-wrap .thum-grid-wrap .col-md-2,
.widget-setting-wrap .thum-grid-wrap .col-md-3,
.widget-setting-wrap .thum-grid-wrap .col-md-4,
.widget-setting-wrap .thum-grid-wrap .col-md-5,
.widget-setting-wrap .thum-grid-wrap .col-md-6,
.widget-setting-wrap .thum-grid-wrap .col-md-7,
.widget-setting-wrap .thum-grid-wrap .col-md-8,
.widget-setting-wrap .thum-grid-wrap .col-md-9,
.widget-setting-wrap .thum-grid-wrap .col-md-10,
.widget-setting-wrap .thum-grid-wrap .col-md-11,
.widget-setting-wrap .thum-grid-wrap .col-md-12 {padding-left:5px;padding-right:5px;}
.widget-setting-wrap .thum-grid-wrap .drop-area {border:1px solid #0c99c9;height:280px;line-height:280px;overflow:hidden;transition:all 0.5s;text-align:center;background:url(../images/ico_plus_big.png) center center no-repeat;}
.widget-setting-wrap .thum-grid-wrap .drop-area.ui-state-highlight {background-color:rgba(178,233,252,0.6);}
.ui-draggable-dragging {opacity:0.8;}
label.input-file-label {font-weight:normal;cursor:pointer;margin:0;}
label.input-file-label input[type=file] {opacity:0;line-height:0;width:0;height:0;}

/* 웨젯 테마 목록 */
.widget-theme-wrap {position:fixed;right:-330px;top:160px;z-index:11;width:330px;padding:15px;background:#e5e5e5;box-shadow: 2px 2px 5px rgba(0,0,0,0.2);transition:all 0.5s;}
.widget-theme-wrap .inner-box {position:relative;z-index:1;}
.widget-theme-wrap .btn-widget-plus {position:absolute;left:-44px;top:-32px;z-index:0;outline:none;}
.widget-theme-wrap .title {font-size:16px;color:#0c99c9;height:25px;border-bottom:1px solid #000;}
.widget-theme-wrap .list-area {height:360px;overflow-y:auto;border-bottom:1px solid #000;}
.widget-theme-wrap .list-area .widget-list-wrap li:hover {outline:none;}
.widget-theme-wrap .list-area .widget-list-wrap li {float:left;width:50%;}
.widget-theme-wrap .list-area .widget-list-wrap li .widget-thumbnail-area {float:none;background-color:#929292;background-image:url(../images/ico_widget_default2.png);}
.widget-theme-wrap .list-area .widget-list-wrap li .summary-info-area {padding:5px 0 0 0;text-align: center;}
.widget-theme-wrap .list-area .widget-list-wrap li .summary-info-area p {font-size:12px;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis;word-wrap:normal;}
.widget-theme-wrap.open {right:10px;}
.widget-theme-wrap.open .btn-widget-plus {background-position:left bottom;left:-32px;}

/* 위젯 상세 모달 */
.widget-view-wrap .widget-image {border:1px solid #e5e5e5;text-align:center;padding:5px;}
.widget-view-wrap .widget-info {margin-top:40px;}
.widget-view-wrap .widget-info dt {font-size:16px;color:#49b3df;padding:0 0 5px 0;}
.widget-view-wrap .widget-info dd {font-size:13px;color:#000;line-height:1.8;}


/* 테이블 스타일 */
table.list-table thead th {font-size:14px;font-weight:normal;padding: 0 12px;height:38px;text-align: center;color: #000;border-bottom: 1px solid #0c99c9;background: url(../images/bg_th.gif) left 12px no-repeat;}
table.list-table thead th:first-child {background-image: none;}
table.list-table tbody th,
table.list-table tbody td {padding:0 12px;height:38px;line-height:1.4;font-size:13px;text-align: center;}
table.list-table tbody tr:nth-child(even),
table.list-table tbody tr.even {background-color: #f8f8f8;}
table.list-table.small thead th {height:25px;font-size:13px;background-position:left 6px}
table.list-table.small thead td {height:30px;font-size:12px;}
table.list-table thead th .styled-checkbox {vertical-align:bottom;margin-left:5px;}
table.list-table thead th.text-left,
table.list-table tbody td.text-left {text-align:left;}
table.list-table.th-inbody {border-bottom:1px solid #e5e5e5;}
table.list-table.th-inbody tbody td:first-child {border-right:1px solid #e5e5e5;}
table.list-table.th-inbody tbody th {font-size:14px;font-weight:normal;padding: 0 10px;text-align: center;color: #000;border-bottom: 1px solid #0c99c9;background: url(../images/bg_th.gif) left 6px no-repeat;}
table.list-table.th-inbody tbody th.first {background-image: none;}
table.list-table,
table.list-table.no-footer,
.dataTables_wrapper.no-footer .dataTables_scrollBody {border-color: #0c99c9;}
.dataTables_wrapper.no-footer .dataTables_scrollBody table.list-table {border-top:none;}
table.list-table.no-head thead {display:none;}
table.list-table td.dataTables_empty {line-height: 38px;}
.dataTables_wrapper.no-footer .dataTables_filter {position:absolute;left:0;top:-35px;height:35px;padding:6px 35px 0 12px;}
.dataTables_wrapper.no-footer .dataTables_filter input[type=search] {width:230px;font-size:16px;color:#000;border:none;height:auto;line-height:1;padding:0;margin:0;}
.dataTables_wrapper.no-footer .dataTables_filter input[type=search]:-ms-input-placeholder {color: #a7abad;}
.dataTables_wrapper.no-footer .dataTables_filter input[type=search]:focus {outline:none;border:none;}
.dataTables_wrapper.no-footer .dataTables_paginate {padding-top:20px;float:none;text-align:center;}
.dataTables_wrapper.no-footer .dataTables_paginate .paginate_button.previous {text-indent:-9999px;background:url(../images/icon_paging_left_over.png) center center no-repeat;}
.dataTables_wrapper.no-footer .dataTables_paginate .paginate_button.next {text-indent:-9999px;background:url(../images/icon_paging_right_over.png) center center no-repeat;}
.dataTables_wrapper.no-footer .dataTables_paginate .paginate_button.previous.disabled {background-image:url(../images/icon_paging_left.png);}
.dataTables_wrapper.no-footer .dataTables_paginate .paginate_button.next.disabled {background-image:url(../images/icon_paging_right.png);}
.dataTables_wrapper.no-footer .dataTables_paginate .paginate_button {border:none;}
.dataTables_wrapper.no-footer .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper.no-footer .dataTables_paginate .paginate_button.current {border:none;}
.dataTables_wrapper.no-footer .dataTables_paginate span .paginate_button:hover,
.dataTables_wrapper.no-footer .dataTables_paginate span .paginate_button.current {background:#0c99c9;color:#fff !important;}


/* designed checkbox */
.styled-checkbox {cursor:pointer;margin:0;width:16px;height:16px;font-size:0;line-height:0;}
.styled-checkbox .name {width:16px;height:16px;background:url(../images/ico_chk_off.png) center center no-repeat;}
.styled-checkbox input[type=checkbox] {opacity:0;width:0;height:0;}
.styled-checkbox input[type=checkbox]:checked + .name {background-image:url(../images/ico_chk_on.png);}


/* 위젯 썸네일 (공통) */
.widget-thumbnail-area {float:left;width:120px;height:90px;line-height:86px;border:1px solid #d9d9d9;background:#d9d9d9 url(../images/ico_widget_default.png) center center no-repeat;overflow:hidden;}
.widget-thumbnail-area label.input-file-label {width:100%;height:100%;background:#d9d9d9 url(../images/ico_widget_default.png) center center no-repeat;}
.widget-thumbnail-area label.input-file-label .img-area {width:100%;height:100%;}


/* 위젯 목록/정보 */
.widget-list-wrap {padding:7px 10px;}
.widget-list-wrap li:after {content:" ";display:block;clear:both;}
.widget-list-wrap li:hover,
.widget-list-wrap li.active {outline:4px solid #b2e9fc;}
.widget-list-wrap li {padding:5px;margin:4px 0;cursor:pointer;}
.widget-list-wrap li .summary-info-area {padding:10px 0 0 135px;}
.widget-list-wrap li .summary-info-area dt {font-size:14px;font-family:"notokr-bold";color:#0c99c9;margin-bottom:5px;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis;word-wrap:normal;}
.widget-list-wrap li .summary-info-area dd {font-size:13px;color:#666;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis;word-wrap:normal;}

.widget-detail-view {padding:55px 170px 25px 170px;}
.widget-image-area {height:400px;line-height:400px;text-align:center;background:#767676;overflow:hidden;}
.widget-detail-info {margin-top:25px;}
.widget-detail-info th {font-size:14px;color:#0c99c9;text-align:right;padding:5px 15px;border-right:1px solid #0c99c9;}
.widget-detail-info td {font-size:14px;color:#666;padding:5px 15px;}
.widget-detail-info td a:hover {text-decoration:underline;}


/* 위젯 추가 레이어 */
.widget-add-table th {font-size:14px;text-align:right;color:#000;padding-right:10px;}
.widget-add-table td.description {padding:10px 0;}
.widget-add-table td input.form-control,
.widget-add-table td select.form-control {height:25px;line-height:25px;}
.widget-add-table td .styled-select {width:100%;}


/* 권한설정 모달 */
.right-set-table {border-bottom:2px solid #0c99c9;margin-bottom:20px;}
.right-set-table th .styled-checkbox {margin-left:10px;}


/* 아이콘 버튼 */
.btn-tool {font-size:14px;color:#0c99c9;padding:0 0 0 25px;height:19px;line-height:19px;background:none;border:none;}
.btn-plus {background:url(../images/ico_plus.png) left top no-repeat;}
.btn-minus {background:url(../images/ico_minus.png) left top no-repeat;}
.btn-reset {background:url(../images/ico_reset.png) left top no-repeat;}
.btn-edit {background:url(../images/ico_edit.png) left top no-repeat;}
.btn-collapse {width:20px;height:20px;background:url(../images/ico_arrow_down.png) center center no-repeat;}
.btn-collapse.collapsed {background-image:url(../images/ico_arrow_up.png);}
.btn-tool + .btn-tool {margin-left:15px;}
.btn-widget-plus {width:64px;height:64px;background:url(../images/btn_widget_plus.png) left top no-repeat;border:none;}
.form-control + .btn-tool {margin-left:15px;}
.btn-search {font-size:20px;padding:0;width:20px;background:url(../images/btn_search.png) left top no-repeat;}


/* 모달 사이즈 정의 */
#projectThemeLayer .modal-dialog {width:740px;}/* 프로젝트 테마 모달 */
#widgetViewLayer .modal-dialog {width:440px;}/* 위젯상세 모달 */
#rightAddLayer .modal-dialog {width:740px;}/* 권한 추가 레이어 */
#widgetAddLayer .modal-dialog {width:625px;}/* 위젯 추가 레이어 */


/* [bootstrap] collapse customizing */
.panel {margin:0;box-shadow: none;border:none;}


/* [bootstrap] modal customizing */
.modal-content {border-radius:0;border:5px solid #b8b8b8;}
.modal-header {background:#49b3df;height:45px;padding:0 20px;}
.modal-title {font-size:18px;font-family:"notokr-bold";color:#fff;padding-top:8px;}
.modal-header .close {font-size:30px;font-family:"notokr-bold";color:#fff;opacity:1;margin-top:2px;}
.modal-body {padding:30px 20px 15px 20px;}
.modal-footer {height:55px;background:#f7f7f7;padding:14px 20px 0 20px;border-top:none;}
.modal-footer .datetime {font-size:13px;color:#666;padding:8px 0 0 0;}

.modal .tbl-header {position: relative;height:35px;border-bottom:2px solid #0c99c9;}
.modal .tbl-header .pos-right {position: absolute;right:0;top:3px;}
.modal .tbl-header .form-control {display:inline-block;width:auto;}
.modal .tbl-title {font-size:14px;color:#000;background:url(../images/bul_arrow2.png) left 15px no-repeat;padding:10px 0 0 20px;}

.modal .grid-wrap {border:none;}
.modal .grid-header {position: relative;height:30px;border-bottom:2px solid #0c99c9;}
.modal .grid-header .pos-right {position: absolute;right:6px;top:8px;}
.modal .grid-header .btn-search {background-size:18px;}
.modal .grid-title {font-size:14px;color:#0c99c9;padding:8px 0 0 0;}
.modal .grid-body {height:430px;background:#f9f9f9;}
.modal .grid-input {padding:6px 35px 0 0;}
.modal .grid-input .form-control {font-size:14px;}
.modal .grid-input .form-control:-ms-input-placeholder {font-size:14px;}
.modal .layout-table th,
.modal .layout-table td {font-size:13px;color:#000;padding:0 15px;height:38px;}
.modal .layout-table td .form-control {font-size:13px;}


/* [bootstrap] button customizing */
.btn {font-size:14px;color:#6a6c6a;font-family:"notokr-bold";padding:0 10px;height:30px;line-height:28px;}
.btn.btn-modal {width:90px;}
.btn-primary {color:#fff;}
.btn-default {border-color:#c9c9c9;box-shadow: 1px 1px 1px rgba(0,0,0,0.2), -1px -1px 1px rgba(0,0,0,0.2);background:url(../images/bg_button_gradient.png) left bottom repeat-x;}

.btn-img-select {text-indent:-9999px;width:23px;height:23px;background:url(../images/btn_select_arrow.png) left top no-repeat;border:none;}
.btn-img-select.left {background-position:left bottom;}
.btn-img-select.right {background-position:left top;}

.btn-tab-area {position:absolute;left:10px;top:-50px;width:100%;}
.btn-tab-area li {float:left;}
.btn-tab-area .btn {color:#0c99c9;padding:0 25px 0 35px;height:28px;line-height:28px;background:none;border:none;box-shadow:none;}
.btn.btn-tab-group {background:url(../images/btn_tab_group.png) left top no-repeat;}
.btn.btn-tab-info {background:url(../images/btn_tab_info.png) left top no-repeat;}
.btn.btn-tab-config {background:url(../images/btn_tab_config.png) left top no-repeat;}
.btn.btn-tab-user {background:url(../images/btn_tab_user.png) left top no-repeat;}
.btn-tab-area .btn.active {background-position:left bottom;outline:none;color:#e8b429;}


/* [bootstrap] form-control customizing : input, select, textarea, radio, checkbox */
.form-control {box-sizing:border-box;border:1px solid #d8d8d8;border-radius:0;padding:0 10px;height:30px;line-height:30px;background:#fff;width:100%;font-size:12px;box-shadow:none;}
.form-control:focus {box-shadow: none;}
textarea.form-control {height:auto;line-height:1.4;padding:10px;}
.form-control.small {height:25px;line-height:25px;}
.radio-inline, .checkbox-inline {font-size:12px;}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {width:13px;height:13px;margin-top:0;margin-top: 0 \9;}

select.form-control {padding:0 0 0 10px;}
.styled-select {margin-bottom:0;}
.styled-select select {-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;}
.styled-select select::-ms-expand {display:none;}
.styled-select {display:inline-block;position:relative;}
.styled-select:after {display:inline-block;content:"";width:6px;height:5px;background:#fff url(../images/bg_selectbox_arr.png) center center no-repeat;position:absolute;right:10px;top:50%;}



/* datepicker customizing */
.datepicker.dropdown-menu {border-color:#d2d2d2;border-radius:0;padding:0;min-width:140px;}
.datepicker.dropdown-menu td {padding: 0;}
.datepicker .table-condensed > thead > tr > th {font-size:10px;color:#444;}
.datepicker .table-condensed > thead > tr > th.prev,
.datepicker .table-condensed > thead > tr > th.next,
.datepicker .table-condensed > thead > tr > th.datepicker-switch {background:#0c99c9;color:#fff;font-size:11px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
.datepicker .table-condensed > thead > tr > th.prev {background:#0c99c9 url(../images/btn_datepicker_prev.png) center center no-repeat;text-indent:-9999px;}
.datepicker .table-condensed > thead > tr > th.next {background:#0c99c9 url(../images/btn_datepicker_next.png) center center no-repeat;text-indent:-9999px;}
.datepicker .table-condensed td {font-size:10px;color:#444;}
.datepicker .table-condensed td,
.datepicker .table-condensed th {width: 15px;height: 15px;border-radius: 0;}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {background: #fff;outline: 1px solid #0c99c9;}

.datepicker-wrap .date {background:#fff url(../images/ico_calendar2.png) right center no-repeat;}


/* timerpicker customizing */
.ui-timepicker-list li {color: #a09f9f;font-size:11px;}
li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {background: #b2e9fc; color: #606060;}


/* spinner customizing */
input.ui-spinner-input {border:none;border-radius:0;box-shadow: none;background:none;margin:0;margin-right: 22px;font-size:11px;height:23px;line-height:23px;}
.ui-widget.ui-widget-content {border-color:#d2d2d2;box-shadow:none;}
.ui-spinner .ui-spinner-button {width:22px;border:1px solid #d2d2d2;cursor:pointer;}
.ui-spinner .ui-spinner-button:active {background-color:#eee;}
.ui-spinner .ui-spinner-up {background: url(../images/btn_spinner_up.png) center center no-repeat;}
.ui-spinner .ui-spinner-down {background: url(../images/btn_spinner_down.png) center center no-repeat;}


/* jqtree customizing */
ul.jqtree-tree {background:url(../images/bg_tree.gif) left top repeat;}
ul.jqtree-tree ul.jqtree_common {margin-left:0;}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {background:#b2e9fc;}
ul.jqtree-tree .jqtree-element {width:100%;height:38px;line-height:36px;position:relative;padding-right:20px;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis;word-wrap:normal;}
ul.jqtree-tree .jqtree-element:hover {background:#eee;}
ul.jqtree-tree .jqtree-title {display:inline;color:#333;font-family:"notokr-bold";font-size:13px;background:url(../images/ico_arrow_right.png) left center no-repeat;padding-left:20px;margin-left:14px;}
ul.jqtree-tree .jqtree-title:active,
ul.jqtree-tree .jqtree-title:focus {outline:none;}
ul.jqtree-tree .jqtree-title.jqtree-title-folder {margin-left:12px;background-image:url(../images/ico_arrow_down.png)}
ul.jqtree-tree .jqtree-toggler {text-indent:-9999px;width:13px;height:13px;background:url(../images/ico_fold.png) left bottom no-repeat;}
ul.jqtree-tree .jqtree-toggler.jqtree-toggler-right {position:absolute;right:10px;top:13px;margin:0;}
ul.jqtree-tree li.jqtree-folder {margin-bottom:0;}
ul.jqtree-tree > li.jqtree-folder > ul.jqtree_common .jqtree-element {padding-left:20px;}/* 2depth */
ul.jqtree-tree > li.jqtree-folder > ul.jqtree_common > li.jqtree-folder > ul.jqtree_common .jqtree-element {padding-left:40px;}/* 3depth */
ul.jqtree-tree > li.jqtree-folder > ul.jqtree_common > li.jqtree-folder > ul.jqtree_common > li.jqtree-folder > ul.jqtree_common .jqtree-element {padding-left:60px;}/* 4depth */

.ico-checkbox ul.jqtree-tree .jqtree-title {background-image:url(../images/ico_chk_off.png);padding-left:25px;}
.ico-checkbox ul.jqtree-tree li.jqtree-selected > .jqtree-element .jqtree-title {background-image:url(../images/ico_chk_on.png);}

.ico-none ul.jqtree-tree .jqtree-title {background-image:none;padding-left:0;}
.ico-none ul.jqtree-tree li.jqtree-selected .jqtree-title {background-image:none;}


/* tree grid */
.treegrid td {position:relative;}
.treegrid-indent {width:16px; height: 16px; display: inline-block; position: relative;margin-right:5px;}
.treegrid-title {font-size:13px;font-family:"notokr-bold";background: url(../images/ico_arrow_right.png) left 4px no-repeat;padding-left:20px;}
.treegrid-expander {width:13px; height: 13px; display: inline-block; position:absolute; top:13px; right:10px;}
.treegrid-expander-expanded + .treegrid-title,
.treegrid-expander-collapsed + .treegrid-title {background-image: url(../images/ico_arrow_down.png);}
.treegrid-expander-expanded {background:url(../images/ico_fold.png) left bottom no-repeat; cursor: pointer;}
.treegrid-expander-collapsed {background:url(../images/ico_fold.png) left top no-repeat; cursor: pointer;}


/* designed customizing : scrollbar, selectbox, radio */

    /* designed scrollbar */
    .mCustomScrollbar {overflow:auto;}
    .mCSB_inside > .mCSB_container {margin-right:10px;}
    .mCSB_scrollTools {width:10px;opacity:1;}
    .mCSB_scrollTools .mCSB_draggerRail {background-color: #bfbfbf;width:10px;border-radius:0;}
    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #0d99ca;width:10px;border-radius:0;}
    .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {background-color: #0d99ca;}
    .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {background-color: #bfbfbf;opacity:1;background-image: url(../images/bg_scrollbar_arrow.png);}
    .mCSB_scrollTools .mCSB_buttonUp:hover, .mCSB_scrollTools .mCSB_buttonDown:hover, .mCSB_scrollTools .mCSB_buttonLeft:hover, .mCSB_scrollTools .mCSB_buttonRight:hover {opacity:1;}
    .mCSB_scrollTools .mCSB_buttonUp {background-position: center top;}
    .mCSB_scrollTools .mCSB_buttonDown {background-position: center bottom;}

    .slimScrollbar .mCSB_scrollTools {width:5px;}
    .slimScrollbar .mCSB_scrollTools .mCSB_draggerRail {background-color: #f7f7f7;width:5px;}
    .slimScrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width:5px;}


    /* designed select box */
    .jqTransformSelectWrapper {border:1px solid #d2d2d2;border-radius:4px;padding-left:10px;height:25px;background: none;background-color:#fff;}
    .jqTransformSelectWrapper div span {font-size:11px;line-height:23px;height:25px;padding: 0;}
    .jqTransformSelectWrapper a.jqTransformSelectOpen {width: 20px;height: 25px;background: url(../images/bg_selectbox_arr.png) no-repeat center center;}
    .jqTransformSelectWrapper ul {top:25px;}
    .jqTransformSelectWrapper ul a {padding: 3px 10px;font-size: 11px;}

    /* designed radio, checkbox... */
    .jqTransformRadioWrapper {float:none;display:inline-block;vertical-align: middle;margin:0 9px 0 0;}
    .jqTransformRadio {background: transparent url(../images/radio.png) no-repeat center top;height: 9px;width: 9px;}
    .jqtransformdone label {font-size:11px;font-weight: normal;margin:0;color:#333;}