@charset "utf-8";

/* ===============================================
Date : 2016-09-01
Description : 테마
=============================================== */

/* layout */
.theme-a {height:100%;}
.theme-b {height:100%;background-color:#e6e8e3;}
.theme-b .main-bg,
.theme-b .logo-area .logo-wrap2 {display:none;}
.theme-b .gnb-area .top-menu {position:absolute;right:0;top:15px;background:none;}
.theme-b .main-header {border-bottom:1px solid #cfcfcf;}
.theme-b .main-header-inner {height:70px;}
.theme-b .logo-area .logo-wrap,
.theme-b .gnb-area .gnb {background:none;height:70px;}
.theme-b .logo-area {width:200px;}
.theme-b .logo-area .logo-wrap {line-height:65px;}
.theme-b .gnb-area .gnb {padding-left:200px;}
.theme-b .gnb-area .gnb .dep1 > li {padding:27px 17px 0 18px;background-image:none;}
.theme-b .gnb-area .gnb .dep1 > li > a {color:#626262;}
.theme-b .gnb-area .gnb .dep1 > li.active > a {color:#48b5e0;}
.theme-b .gnb-area .gnb .dep2 > li {height:20px;}
.theme-b .gnb-area .gnb .dep2 > li > a {color:#626262;}
.theme-b .gnb-area .gnb .dep2 > li > a.active {color:#48b5e0;}
.theme-b .row .row + .row {margin-top:55px;} /* 그리드 안에서 row가 상하로 나눠질 때 간격 */


/* widget */
.theme-b .lucis-flip-container .front {background:#eff1ec;border-left:4px solid #48b5e0;padding:8px 20px 18px 20px;box-shadow: 2px 2px 5px rgba(0,0,0,0.2);}
.theme-b .lucis-widget .lucis-widget-title {padding-top:5px;color:#727272;border-bottom:1px solid #cfcfcf;}
.theme-b .lucis-widget .lucis-core .lucis-core-title {color:#0c99c9;}
.theme-b .lucis-widget .btn-play {width:21px;height:20px;border:none;text-indent:-9999px;background:url(../images/btn_play.png) center center no-repeat;}
.theme-b .lucis-widget .lucis-widget-header .btn-play {bottom:10px;}
.theme-b .lucis-widget .lucis-widget-title {color:#727272;}
.theme-b .lucis-widget .lucis-widget-header .lucis-widget-tools {top:8px;}
.theme-b .lucis-widget .lucis-widget-header .lucis-widget-tools .btn {color:#727272;border-color:#727272;}

.theme-b .lucis-widget table.lucis-table thead th,
.theme-b .lucis-widget table.lucis-table.stripe tbody tr.odd, 
.theme-b .lucis-widget table.lucis-table.stripe tbody tr.even {background-color: transparent;}
.theme-b .lucis-widget table.lucis-table thead th {color: #48b5e0;border-color: #cfcfcf;background: none;}
.theme-b .lucis-widget table.lucis-table thead th.th-bg:first-child {background-image: none;}
.theme-b .lucis-widget table.lucis-table tbody th,
.theme-b .lucis-widget table.lucis-table tbody td {padding: 0 5px;color: #727272;height:24px;border-top: 1px solid #e3e3e3;}
.theme-b .lucis-widget table.lucis-table tbody tr:first-child th,
.theme-b .lucis-widget table.lucis-table tbody tr:first-child td {border-top: none;}
.theme-b .lucis-widget table.lucis-table,
.theme-b .lucis-widget table.lucis-table.no-footer,
.theme-b .lucis-widget .dataTables_wrapper.no-footer .dataTables_scrollBody {border-color: #cfcfcf;}

.theme-b .lucis-widget .widget-chart-01 {text-align:center;}
.theme-b .lucis-widget .widget-chart-01 .sum-text {font-size:25px;text-align:center;left:0;top:140px;right:auto;width:100%;}
.theme-b .lucis-widget .widget-chart-01 .chart-01 {margin:0 auto;} 
.theme-b .lucis-widget .chart-01-label ul {width:120px;top:50px;}
.theme-b .lucis-widget .chart-01-label ul:first-child {right:auto;left:0;}
.theme-b .lucis-widget .chart-01-label li:nth-child(odd),
.theme-b .lucis-widget .chart-01-label li:nth-child(even) {float:none;}
.theme-b .lucis-widget .chart-01-label li dt,
.theme-b .lucis-widget .chart-01-label li dd {text-align: left;}
.theme-b .lucis-widget .widget-chart-14 .chart-14 {width:320px;} 

.theme-b .lucis-widget table.lucis-table.tbl-voc tbody td {height:52px;}

.theme-b .lucis-widget .widget-graph-02.type3 th {background:none;}

.theme-b .modal-body {background:#e3e3e3;}
.theme-b .modal .row + .row,
.theme-b .modal .row .row + .row {margin-top:22px;}
.theme-b .modal .tbl-title {display:none;}

.theme-b .filter-wrap .filter-navi {background:#eff1ec;border-left:4px solid #48b5e0;}
.theme-b .filter-wrap .filter-navi .title1 {color:#999;border-bottom-color:#999;}
.theme-b .filter-wrap .filter-navi .nav-tabs > li > a:after {border-left-color:#48b5e0;}
.theme-b .filter-wrap .filter-navi .nav-tabs > li:hover > a,
.theme-b .filter-wrap .filter-navi .nav-tabs > li.active > a,
.theme-b .filter-wrap .filter-navi .nav-tabs > li.active > a:hover,
.theme-b .filter-wrap .filter-navi .nav-tabs > li.active > a:focus {background-color:#48b5e0;}
.theme-b .filter-wrap .filter-content .title1 {display:none;}
.theme-b .filter-wrap .filter-content .title2 {color:#999;border-bottom-color:#999;padding-top:10px;height:33px;}
.theme-b .filter-wrap .filter-content .innerbox {background:#eff1ec;height:457px;}
.theme-b .filter-wrap .filter-content .innerbox.small {height:201px;}
.theme-b .filter-wrap .filter-content .section-wrap {background:#eff1ec;padding:0 12px;}
.theme-b .filter-organization .tree-list {height:392px;}