.refresher {
  position: relative;
  top: -9px;
  cursor: pointer;
}

.refresher input {
  background:none !important;
}

.pauser {
  position: absolute;
  top: 8px;
  left: 23px;
  font-size: 15px;
  font-weight: bold;
}