div.datepicker-days {
  display: block !important;
}

div.datepicker-wrap p {
  display: inline-block;
}

div.datepicker-wrap p input.time {
  margin-left: 5px;
}

div.datepicker-wrap p.rangeInformation {
  margin-left: 10px;
}
